.breadcrumbs-wrap {
	&.white-breads {
		.breadcrumbs {
			li {
				&.separator {
					background-color: $black;
				}
				&.item-current {
					color: $black;
				}
				a {
					color: $black;
				}
			}
		}
		.back_to_home {
			a {
				color: $black;
			}
		}
	}
	.back_to_home {
		a {
			color: $white;
		}
	}
}

.breadcrumbs {
	position: relative;
	display: none;
	padding: 25px 0;
	margin: 0;
	font-family: Montserrat;
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 0.05em;
	list-style: none;
	background: none;
	z-index: 1;
	@include breakpoint(sm) {
		display: block;
	}
	li {
		display: inline-block;
		margin-right: 15px;
		&.separator {
			position: relative;
			top: 7px;
			height: 24px;
			width: 1px;
			background-color: $white;
		}
		&.item-current {
			font-family: 'Hurme Geometric Sans 1';
			font-size: 17px;
			color: $white;
		}
	}
}

.back_to_home {
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 140%;
	@include breakpoint(sm) {
		display: none;
	}
}