footer#colophon {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 8px 15px;
	color: $white;
	font-family: 'Hurme Geometric Sans 1';
	font-weight: 600;
	font-size: 13px;
	line-height: 110%;
	letter-spacing: 0;
	background-color: $black;
	animation-delay: 1000ms;
	z-index: 99;
	@include breakpoint(sm) {
		padding: 10px 30px;
		// position: fixed;
	}
	@include breakpoint(xl) {
		font-size: 19px;
	}
	@include breakpoint(hd) {
		padding: 20px 30px;
		letter-spacing: 0.2em;
	}
	&.white-footer {
		background-color: $white;
		a {
			color: $black;
		}
		.site-info {
			.address {
				a {
					&:after {
						background-image: url(images/icons/icn-pin-alt.png);
					}
				}
			}
			.social {
				li {
					a {
						span {
							&.facebook {
								background-image: url(images/icons/icn-facebook-alt.png);
							}
							&.instagram {
								background-image: url(images/icons/icn-instagram-alt.png);
							}
							&.linkedin {
								background-image: url(images/icons/icn-linkedin-alt.png);
							}
							&.youtube {
								background-image: url(images/icons/icn-youtube-alt.png);
							}
						}
					}
				}
			}
			.fones {
				.tel {
					a {
						&:after {
							background-image: url(images/icons/icn-fone-alt.png);
						}
					}
				}
				.vendas {
					&:before {
						background-color: $black;
					}
					a {
						&:after {
							background-image: url(images/icons/icn-whatsapp-alt.png);
						}
					}
				}
			}
			.chat {
				a {
					&:after {
						background-image: url(images/icons/icn-chat-alt.png);
					}
				}
			}
		}
	}
	a {
		color: $white;
		transition: $transition;
		opacity: 1;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			opacity: .5;
		}
	}
	.site-info {
		.address {
			position: relative;
			display: none;
			margin-right: 60px;
			font-size: 12.5px;
			line-height: 15px;
			text-align: right;
			font-family: Montserrat;
			font-weight: normal;
			letter-spacing: normal;
			vertical-align: middle;
			@include breakpoint(sm) {
				display: inline-block;
			}
			a {
				&:after {
					content: '';
					display: inline-block;
					width: 32px;
					height: 32px;
					position: absolute;
					right: -40px;
					top: -1px;
					background-image: url(images/icons/icn-pin.png);
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
		.social {
			display: none;
			list-style: none;
			padding: 0;
			margin: 0;
			height: 30px;
			vertical-align: bottom;
			@include breakpoint(sm) {
				display: inline-block;
			}
			@include breakpoint(lg) {
				vertical-align: middle;
			}
			li {
				display: inline-block;
				&+li {
					margin-left: 5px;
				}
				a {
					display: block;
					&:hover {
						span {
							opacity: .5;
						}
					}
					span {
						display: block;
						width: 32px;
						height: 32px;
						background-repeat: no-repeat;
						background-position: center;
						transition: $transition;
						opacity: 1;
						&.facebook {
							background-image: url(images/icons/icn-facebook.png);
						}
						&.instagram {
							background-image: url(images/icons/icn-instagram.png);
						}
						&.linkedin {
							background-image: url(images/icons/icn-linkedin.png);
						}
						&.youtube {
							background-image: url(images/icons/icn-youtube.png);
						}
					}
				}
			}
		}
		.fones {
			display: inline-block;
			position: relative;
			top: 0;
			text-transform: uppercase;
			@include breakpoint(sm) {
				// top: 3px;
				margin-left: 30px;
			}
			@include breakpoint(lg) {
				// top: -4px;
			}
			.tel {
				display: inline-block;
				vertical-align: middle;
				a {
					position: relative;
					display: inline-block;
					width: 32px;
					height: 32px;
					text-indent: 100%;
					line-height: 32px;
					overflow: hidden;
					@include breakpoint(lg) {
						width: auto;
						text-indent: 0;
						overflow: visible;
					}
					&:after {
						content: '';
						display: inline-block;
						width: 32px;
						height: 32px;
						position: absolute;
						right: 0;
						top: 2px;
						background-image: url(images/icons/icn-fone.png);
						background-repeat: no-repeat;
						background-position: center;
						@include breakpoint(lg) {
							right: -40px;
							top: 0;
						}
					}
				}
			}
			.vendas {
				display: inline-block;
				margin-left: 0;
				padding-left: 25px;
				position: relative;
				vertical-align: middle;
				@include breakpoint(lg) {
					margin-left: 50px;
				}
				&:before {
					content: '';
					display: none;
					width: 2px;
					height: 30px;
					position: absolute;
					left: 0;
					top: -7px;
					background-color: $white;
					@include breakpoint(lg) {
						// display: inline-block;
						top: 2px;
					}
				}
				a {
					display: inline-block;
					width: 32px;
					height: 32px;
					line-height: 32px;
					text-indent: 32px;
					overflow: hidden;
					@include breakpoint(lg) {
						width: auto;
						text-indent: 0;
						overflow: visible;
					}
					&:after {
						content: '';
						display: inline-block;
						width: 32px;
						height: 32px;
						position: absolute;
						right: 0;
						top: 2px;
						background-image: url(images/icons/icn-whatsapp.png);
						background-repeat: no-repeat;
						background-position: center;
						@include breakpoint(lg) {
							right: -45px;
							top: 0;
						}
					}
				}
			}
		}
		.chat {
			float: right;
			display: inline-block;
			vertical-align: middle;
			a {
				position: relative;
				// top: 4px;
				display: block;
				width: 50px;
				height: 32px;
				text-indent: 100%;
				height: 32px;
				line-height: 32px;
				overflow: hidden;
				@include breakpoint(sm) {
					// top: 7px;
					width: 130px;
					width: 32px;
					text-indent: 32px;
					text-indent: -105px;
				}
				@include breakpoint(md) {
					padding-right: 45px;
					width: auto;
					text-indent: 0;
					overflow: visible;
				}
				@include breakpoint(xl) {
					top: 0;
				}
				&:after {
					content: '';
					display: inline-block;
					width: 32px;
					height: 32px;
					position: absolute;
					right: 0;
					top: 0;
					background-image: url(images/icons/icn-chat.png);
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}