html {
	min-height: 100%;
}

body {
	padding-top: 60px;
	padding-bottom: 50px;
	color: $black;
	@include breakpoint(md) {
		padding-top: 100px;
		padding-bottom: 52px;
	}
	@include breakpoint(hd) {
		padding-bottom: 72px;
	}
}

.fancybox-bg {
	background-color: $black;
}

.invert {
	a {
		color: $black;
		&:hover {
			color: $black;
		}
	}
}

*:focus {
	outline: none !important;
}

a {
	color: $white;
	text-decoration: underline transparent;
	transition: all 200ms ease-out;
	&:hover {
		color: $white;
		text-decoration: underline Currentcolor;
	}
}

.hidden-sm {
	display: none;
	@include breakpoint(sm) {
		display: block;
	}
}

.btn {
	background: none;
	&:hover,&:focus,&:active {
		text-decoration: none;
		outline: none !important;
		box-shadow: none !important;
	}
}

.button {
	display: inline-block;
	padding: 15px 20px;
	color: $white;
	font-family: 'Hurme Geometric Sans 1';
	font-weight: 600;
	font-size: 16px;
	line-height: 110%;
	letter-spacing: 0.145em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 200ms ease-out;
	border: 2px solid $white;
	border-radius: 0;
	background-color: transparent;
	@include breakpoint(md) {
		font-size: 19px;
		padding: 15px 30px;
		letter-spacing: 0.2em;
	}
	&+.button {
		margin-top: 20px;
	}
	&:hover {
		color: $white;
		text-decoration: none;
		background-color: $black;
	}
	&:active, &:focus {
		outline: none;
		box-shadow: none;
	}
	&.white {
		color: $black;
		background-color: $white;
		border-color: transparent;
		&:hover {
			background-color: rgba($white,.6);
		}
		&:active {
			background-color: rgba($white,.3);
			outline: none;
			box-shadow: none;
		}
	}
	&.black {
		background-color: $black;
		&:hover {
			color: $black;
			background-color: transparent;
			border-color: $black;
		}
	}
	&.facebook {
		border-color: $black;
		margin-top: 30px;
		padding-left: 70px;
		background-image: url(images/icons/icn-facebook.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.interesse {
		padding-left: 70px;
		background-image: url(images/icons/icn-interesse.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-image: url(images/icons/icn-interesse-alt.png);
		}
	}
	&.precos {
		padding-left: 70px;
		background-image: url(images/icons/icn-preco.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-image: url(images/icons/icn-preco-alt.png);
		}
	}
	&.email {
		padding-left: 70px;
		background-image: url(images/icons/icn-email.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-color: rgba($white,.7);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.trabalhar {
		padding-left: 70px;
		background-image: url(images/icons/icn-trabalhe.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-color: rgba($white,.7);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.fornecedor {
		padding-left: 70px;
		background-image: url(images/icons/icn-fornecedor.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-color: rgba($white,.7);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.mapa {
		padding-left: 70px;
		background-image: url(images/icons/icn-mapa.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-color: rgba($white,.7);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.vendas {
		width: 100%;
		text-align: center;
		// text-align: left;
		line-height: 30px;
		// padding-left: 70px;
		background-image: url(images/icons/icn-preco-alt.png);
		background-position: 25px center;
		background-repeat: no-repeat;
		&:hover {
			background-color: rgba($white,.7);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.fone {
		padding-left: 45px;
		font-size: 21px;
		background-image: url(images/icons/icn-fone.png);
		background-position: 0 center;
		background-repeat: no-repeat;
		border: none;
		&:hover {
			padding-left: 50px;
			background-color: rgba($white,0);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.whatsapp {
		padding-left: 45px;
		font-size: 21px;
		background-image: url(images/icons/icn-whatsapp.png);
		background-position: 0 center;
		background-repeat: no-repeat;
		border: none;
		&:hover {
			padding-left: 50px;
			background-color: rgba($white,0);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
	&.mapa-alt {
		padding-left: 45px;
		background-image: url(images/icons/icn-pin.png);
		background-position: 0 center;
		background-repeat: no-repeat;
		font-size: 12.5px;
		font-weight: normal;
		line-height: 15px;
		letter-spacing: 0.03em;
		border: none;
		&:hover {
			padding-left: 50px;
			background-color: rgba($white,0);
			// background-image: url(images/icons/icn-facebook-alt.png);
		}
	}
}

.video-play {
	position: relative;
	text-decoration: none;
	&.white {
		&:before {
			@include breakpoint(sm) {
				background-color: rgba($white,.8);
			}
		}
		&:after {
			@include breakpoint(sm) {
				border-left: 32px solid $black;
			}
		}
		&:hover {
			&:before {
				@include breakpoint(sm) {
					background-color: rgba($white,1);
				}
			}
		}
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70px;
		height: 70px;
		border-radius: 100%;
		transform: translate(-50%,-50%);
		background-color: rgba($white,.8);
		transition: all 100ms ease-out;
		@include breakpoint(sm) {
			width: 90px;
			height: 90px;
			background-color: rgba($black,.8);
		}
	}
	&:after {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-left: 24px solid $black;
		border-bottom: 12px solid transparent;
		transform: translate(-35%,-50%);
		@include breakpoint(sm) {
			border-top: 18px solid transparent;
			border-left: 32px solid $white;
			border-bottom: 18px solid transparent;
		}
	}
	&:hover {
		text-decoration: none;
		&:before {
			@include breakpoint(sm) {
				background-color: rgba($black,1);
			}
		}
	}
	span {
		position: relative;
		top: 65px;
		font-size: 12.5px;
		text-transform: uppercase;
		@include breakpoint(sm) {
			// display: none;
		}
	}
}

.img-cover {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-columns {
	@include breakpoint(sm) {
		column-count: 2;
	}
	@include breakpoint(md) {
		column-count: 3;
	}
}

.card {
	margin-top: 2px;
	margin-bottom: 30px;
	border: 2px solid $black;
	border-radius: 0;
	transition: transform 100ms ease-out;
	transform: scale(1);
	&:hover {
		transform: scale(1.03);
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
			.card-text {
				text-decoration: underline Currentcolor;
			}
		}
	}
	.card-img-top {
		border-radius: 0;
	}
	.tag {
		position: absolute;
		top: 10px;
		right: -10px;
		padding: 5px 10px;
		color: $white;
		font-family: Montserrat;
		font-size: 12.5px;
		line-height: 15px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		background-color: $black;
	}
	.card-body {
		padding: 25px;
		.card-meta {
			font-size: 12.5px;
		}
		.card-text {
			text-decoration: underline transparent;
			transition: $transition;
		}
	}
}
// }

form {
	&.dark {
		.form-group {
			input.form-control, textarea.form-control {
				color: $black;
				border-left: 2px solid $black;
				border-bottom: 2px solid $black;
				@include placeholder {
					color: $black;
				}
			}
		}
	}
	.form-group {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 30px;
		// &:last-child {
		// 	margin-bottom: 0;
		// }
		&.focus {
			label {
				top: 3px;
				opacity: 1;
			}
			input[type="text"], input[type="tel"], input[type="email"] , textarea {
				padding: 22px 25px 12px;
				@include placeholder {
					opacity: 0;
				}
			}
		}
		label {
			position: absolute;
			left: 28px;
			top: 0;
			font-family: Montserrat;
			font-weight: normal;
			font-size: 10.5px;
			line-height: 15px;
			letter-spacing: 0.03em;
			opacity: 0;
			// transform: translateY(-50%);
			transition: $transition;
		}
		input.form-control, textarea.form-control {
			padding: 17px 25px 17px;
			height: auto;
			color: $white;
			font-family: "Hurme Geometric Sans 1";
			font-weight: 600;
			font-size: 16px;
			line-height: 110%;
			letter-spacing: 0.2em;
			background: none;
			border-radius: 0;
			border-top: none;
			border-right: none;
			border-left: 2px solid $white;
			border-bottom: 2px solid $white;
			transition: $transition;
			@include breakpoint(sm) {
				font-size: 19px;
			}
			&:hover,&:focus,&:active {
				background-color: rgba($white,.05);
				box-shadow: none;
				outline: none;
			}
			@include placeholder {
				color: $white;
				opacity: 1;
				transition: $transition;
				text-transform: uppercase;
			}
		}
		input[type="image"] {
			opacity: 1;
			transition: $transition;
			&:hover {
				opacity: .5;
			}
		}
		textarea.form-control {
			min-height: 140px;
		}
		.bootstrap-select {
			display: block;
			padding: 0;
			width: 100%;
			height: auto;
			color: $white;
			background: none;
			border-radius: 0;
			border: 0;
			transition: $transition;
			&.show-menu-arrow {
				.dropdown-toggle {
					border-top: 0;
					border-right: 0;
					.bs-caret {
						display: block;
						.caret {
							width: 12px;
							height: 12px;
							border-right: 2px solid $white;
							border-bottom: 2px solid $white;
							transform: translateY(-65%) rotate(45deg);
						}
					}
				}
			}
			&.show {
				background-color: $black;
				// .dropdown-toggle {
				// }
			}
			.dropdown-toggle {
				padding: 15px 25px 13px;
				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				background: none;
				border-radius: 0;
				border: 2px solid $white;
				transition: $transition;
				@include breakpoint(sm) {
					font-size: 19px;
					line-height: 19px;
				}
				&:hover {
					background-color: rgba($white,.05);
				}
				&:focus,&:active {
					outline: none !important;
				}
				&:active {
					background-color: rgba($white,.3);
				}
				&:after,.bs-caret {
					display: none;
				}
			}
			.dropdown-menu{
				padding: 0;
				top: -4px !important;
				border-radius: 0;
				border: 2px solid $white;
				border-top: none;
				&.inner {
					display: block;
					background-color: $black;
					li {
						color: $white;
						font-weight: 600;
						font-size: 17px;
						line-height: 22px;
						&.selected {
							a {
								// background-color: rgba($white,.3);
								&:hover {
									background-color: rgba($white,.3);
								}
								&:before {
									background-color: $white;
								}
							}
						}
						a {
							display: block;
							padding: 15px 25px;
							color: $white;
							transition: $transition;
							&:hover {
								background-color: rgba($white,.05);
							}
							&:before {
								content: '';
								display: inline-block;
								width: 20px;
								height: 20px;
								border: 2px solid $white;
								margin-right: 17px;
								vertical-align: sub;
								background-color: transparent;
								transition: $transition;
							}
						}
					}
				}
			}
		}
		&.file {
			input[type="file"] {
				display: none;
			}
			label {
				position: relative;
				left: 0;
				display: block;
				padding: 17px 25px 17px;
				height: auto;
				color: $white;
				font-family: "Hurme Geometric Sans 1";
				font-weight: 600;
				font-size: 16px;
				line-height: 110%;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				background: none;
				border-radius: 0;
				border: 2px solid $white;
				transition: $transition;
				opacity: 1;
				@include breakpoint(sm) {
					font-size: 19px;
				}
				&::-webkit-file-upload-button {
					visibility: hidden;
				}
				&:before {
					content: ''
				}
				&:hover,&:focus,&:active {
					background-color: rgba($white,.05);
					box-shadow: none;
					outline: none;
				}
				@include placeholder {
					color: $white;
					opacity: 1;
					transition: $transition;
					text-transform: uppercase;
				}
			}
		}
		.wpcf7-not-valid-tip {
			padding-top: 10px;
			padding-left: 25px;
			color: $pink;
			font-size: 12.5px;
			line-height: 15px;
			letter-spacing: 0.03em;;
		}
	}
	.form-check {
		.form-check-input {
			display: none;
		}
		.form-check-label {
			padding-left: 20px;
			font-family: "Hurme Geometric Sans 1";
			font-size: 14px;
			font-weight: 600;
			line-height: 110%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			@include breakpoint(sm) {
				font-size: 19px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 20px;
				height: 20px;
				border: 2px solid $white;
				transition: $transition;
			}
			&.checked {
				&:before {
					background-color: $white;
				}
			}
		}
	}
	.ajax-loader {
		position: relative;
		left: -28px;
	}
	.wpcf7-response-output,
	.wpcf7-validation-errors,
	.wpcf7-acceptance-missing {
		display: none !important;
	}
	div.wpcf7-response-output {
		border-color: $pink;
		padding: 10px 15px;
		margin: 25px 0 0;
	}
}

.owl-container {
	position: relative;
	.navigation {
		position: absolute;
		bottom: 30px;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 10;
		&.dark {
			.navigation-arrows {
				.owl-prev {
					background-image: url(images/icons/icn-arrow-left-alt.png);
				}
				.owl-next {
					background-image: url(images/icons/icn-arrow-right-alt.png);
				}
			}
			.navigation-dots {
				.owl-dot {
					button {
						&:after {
							background-color: $black;
						}
					}
					span {
						color: $black;
						font-size: 17px;
						font-weight: 600;
						letter-spacing: 0.08em;
					}
				}
			}
		}
		.navigation-arrows {
			position: relative;
			display: inline-block;
			.owl-prev, .owl-next {
				display: none;
				position: absolute;
				bottom: 0;
				width: 9px;
				height: 18px;
				background: none;
				border: none;
				@include breakpoint(sm) {
					display: block;
				}
				&:focus,&:active {
					outline: none;
				}
				span {
					display: none;
				}
			}
			.owl-prev {
				left: -30px;
				background-image: url(images/icons/icn-arrow-left.png);
			}
			.owl-next {
				right: -30px;
				background-image: url(images/icons/icn-arrow-right.png);
			}
		}
		.navigation-dots {
			display: block;
			.owl-dot {
				display: inline-block;
				// border: none;
				// width: 2px;
				// height: 18px;
				// padding: 0;
				// background: none;
				// background-color: transparent;
				// @include breakpoint(sm) {
				// 	height: 36px;
				// }
				&+.owl-dot {
					margin-left: 10px;
					@include breakpoint(sm) {
						margin-left: 20px;
					}
				}
				&.active {
					button {
						height: 18px;
						@include breakpoint(sm) {
							height: 36px;
						}
						&:after {
							height: 18px;
							@include breakpoint(sm) {
								height: 36px;
							}
						}
					}
					span {
						bottom: 30px;
						opacity: 1;
					}
				}
				// &:focus,&:active {
				// 	outline: none;
				// }
				// &:after {
				// 	content: '';
				// 	display: block;
				// 	height: 9px;
				// 	width: 2px;
				// 	position: absolute;
				// 	bottom: 0;
				// 	background-color: $white;
				// 	transition: $transition;
				// 	z-index: -1;
				// 	@include breakpoint(sm) {
				// 		height: 18px;
				// 	}
				// }
				button {
					// position: relative;
					// bottom: -12px;
					border: none;
					width: 2px;
					height: 18px;
					padding: 0;
					background: none;
					background-color: transparent;
					@include breakpoint(sm) {
						height: 36px;
					}
					&:after {
						content: '';
						display: block;
						height: 9px;
						width: 2px;
						position: absolute;
						bottom: 0;
						background-color: $white;
						transition: $transition;
						z-index: -1;
						@include breakpoint(sm) {
							height: 18px;
						}
					}
				}
				span {
					position: relative;
					bottom: 15px;
					display: block;
					color: $white;
					font-size: 15px;
					line-height: 141.2%;
					letter-spacing: 0.115em;
					transform: rotate(-90deg);
					opacity: 0;
					cursor: zoom-in;
					transition: $transition;
					@include breakpoint(md) {
						font-size: 19px;
						white-space: nowrap;
					}
				}
			}
		}
	}
	.owl-gallery {
		.thumb {
			min-height: 370px;
			background-position: center;
			background-size: cover;
			cursor: zoom-in;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 100%);
			}
			@include breakpoint(sm) {
				min-height: 420px;
			}
		}
	}
}

.noUi-horizontal {
	height: 3px;
	.noUi-origin {
		.noUi-handle {
			height: 12px;
			width: 12px;
			right: -12px;
			top: -5px;
			background-color: $black;
			border: none;
			border-radius: 100%;
			cursor: default;
			box-shadow: none;
			&:before, &:after {
				display: none;
			}
		}
	}
}

.noUi-target {
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	box-shadow: none;
	background-color: rgba($black,.5);
}

.noUi-connect {
	background-color: $black;
}

.modal {
	color: $white;
	background-color: $black;

	.modal-dialog {
		max-width: 650px;
	}

	.modal-header, .modal-footer {
		justify-content: flex-start;
		border: none;
		.button {
			&+.button {
				margin-top: 0;
			}
		}
	}

	.modal-content {
		padding: 30px 0;
		background-color: $black;
	}

	&#obrigado {
		.modal-dialog {
			position: absolute;
			max-width: 450px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		.modal-header {
			padding-bottom: 0;
		}
		.modal-title {
			font-size: 45px;
			line-height: 114.7%;
		}
		.modal-body {
			font-weight: 600;
			font-size: 26px;
			line-height: 33px;
			letter-spacing: 0.03em;
		}
	}

}

.qualitare {
	display: block;
	margin: 0 auto;
	width: 98px;
	height: 22px;
	background-image: url(images/branding/logo-qualitare.png);
	background-repeat: no-repeat;
	background-position: left center;
	opacity: .3;
	&:hover {
		width: 157px;
		opacity: .8;
	}
}