header#masthead {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 30px 15px 0;
	z-index: 999;
	background-color: rgba($black,.5);
	&.white-header {
		background-color: rgba($white,.5);
		&:after {
			background-color: $black;
		}
		&.open {
			.site-branding {
				.logo {
					background-image: url(images/branding/brascon-logo.png);
				}
			}
			.menu-toggle {
				background-color: $black;
				&:after,&:before {
					background-color: $black;
				}
			}
			.main-navigation {
				.menu-toggle {
					background-color: $white;
					&:after,&:before {
						background-color: $white;
					}
				}	
			}
		}
		.site-branding {
			.logo {
				background-image: url(images/branding/brascon-logo-alt.png);
			}
		}
		.main-navigation {
			.menu-toggle {
				background-color: $black;
				&:after,&:before {
					background-color: $black;
				}
			}	
		}
		.main-navigation {
			.navbar-nav {
				li {
					a {
						@include breakpoint(md) {
							color: $black;
							&:after {
								background: $black;
							}
						}
					}
					.dropdown-menu {
						@include breakpoint(lg) {
							background-color: $black;
						}
						li {
							&:nth-child(4){
								&:after {
									@include breakpoint(lg) {
										background-color: $white;
									}
								}
							}
							&:last-child {
								&:after {
									@include breakpoint(lg) {
										background-color: $white;
									}
								}
							}
							a {
								@include breakpoint(md) {
									color: $white;
								}
								&:hover, &:focus {
									background-color: transparent;
								}
							}
						}
					}
				}
			}
		}
	}
	&.open {
		.main-navigation {
			height: 100vh;
			#main-menu {
				opacity: 1;
				transform: scale(1);
			}
			.menu-toggle {
				top: 35px;
				transform: rotate(45deg);
				&:before {
					top: 0;
					transform: rotate(-90deg);
				}
				&:after {
					opacity: 0;
				}
			}
			.social {
				opacity: 1;
			}
		}
	}
	@include breakpoint(md) {
		height: auto;
	}
	&:after {
		content: '';
		position: absolute;
		display: none;
		bottom: 0;
		height: 2px;
		width: calc(100% - 60px);
		left: 30px;
		background-color: $white;
		z-index: -1;
		@include breakpoint(md) {
			display: block;
		}
	}

	.site-branding {
		position: absolute;
		top: 25px;
		left: 15px;
		z-index: 1;
		@include breakpoint(md) {
			top: auto;
			left: 30px;
			bottom: 30px;
		}
		@include breakpoint(xl) {
			left: 60px;
		}
		.logo {
			width: 140px;
			height: 19px;
			background-image: url(images/branding/brascon-logo.png);
			background-size: contain;
		}
	}

	.main-navigation {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		@include breakpoint(md) {
			float: right;
			position: relative;
			width: auto;
			height: auto;
			top: auto;
			left: auto;
		}
		.menu-toggle {
			display: block;
			width: 25px;
			height: 2px;
			position: absolute;
			top: 25px;
			right: 15px;
			background-color: $white;
			cursor: pointer;
			z-index: 100;
			transition: $transition;
			@include breakpoint(md) {
				display: none;
			}
			&:after, &:before {
				content: '';
				display: block;
				width: 25px;
				height: 2px;
				background-color: $white;
				position: absolute;
				transition: $transition;
			}
			&:after {
				top: 8px;
				opacity: 1;
			}
			&:before {
				top: 16px;
			}
		}
		#main-menu {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: $black;
			opacity: 0;
			transition: all 500ms ease-in-out;
			transform: scale(1.2);
			@include breakpoint(md) {
				display: block;
				position: relative;
				top: auto;
				left: auto;
				width: auto;
				height: auto;
				background-color: transparent;
				opacity: 1;
				transform: scale(1);
			}
		}
		.social {
			position: absolute;
			bottom: 50px;
			left: 50%;
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0;
			height: 30px;
			vertical-align: bottom;
			opacity: 0;
			transition: $transition;
			transition-delay: 200ms;
			transform: translateX(-50%);
			@include breakpoint(sm) {
				display: none;
			}
			@include breakpoint(lg) {
				vertical-align: middle;
			}
			li {
				display: inline-block;
				&+li {
					margin-left: 5px;
				}
				a {
					display: block;
					&:hover {
						span {
							opacity: .5;
						}
					}
					span {
						display: block;
						width: 32px;
						height: 32px;
						background-repeat: no-repeat;
						background-position: center;
						transition: $transition;
						opacity: 1;
						&.facebook {
							background-image: url(images/icons/icn-facebook.png);
						}
						&.instagram {
							background-image: url(images/icons/icn-instagram.png);
						}
						&.linkedin {
							background-image: url(images/icons/icn-linkedin.png);
						}
						&.youtube {
							background-image: url(images/icons/icn-youtube.png);
						}
					}
				}
			}
		}
		.navbar-nav {
			display: block;
			list-style: none;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%,-50%);
			@include breakpoint(md) {
				position: relative;
				top: auto;
				left: auto;
				width: auto;
				transform: none;
				background-color: transparent;
			}
			li {
				display: block;
				font-family: 'Hurme Geometric Sans 1';
				font-size: 16px;
				font-weight: 600;
				line-height: 23px;
				text-align: center;
				text-transform: uppercase;
				@include breakpoint(md) {
					display: inline-block;
					max-width: 140px;
					text-transform: none;
				}
				@include breakpoint(xl) {
					font-size: 17px;
				}
				&+li {
					margin-left: 10px;
					@include breakpoint(xl) {
						margin-left: 30px;
					}
				}
				&.dropdown {
					a {
						&:after {
							border: none;
						}
					}
					&:hover {
						a {
							&:after,&:before {
								height: 13px;
							}
						}
					}
				}
				&.current_page_item, &.current-page-ancestor, &.current_page_parent  {
					a {
						position: relative;
						&:before, &:after {
							@include breakpoint(md) {
								height: 13px;
							}
						}
					}
				}
				a {
					position: relative;
					padding: 0 15px 25px;
					color: $white;
					text-decoration: none;
					&:after {
						display: none;
						content: '';
						position: absolute;
						bottom: 7px;
						margin: 0;
						height: 0;
						width: 2px;
						left: 50%;
						background: $white;
						transition: $transition;
						transform: translateX(-50%);
						@include breakpoint(md) {
							display: block;
						}
					}
					&:hover {
						text-decoration: none;
						&:after {
							height: 13px;
						}
					}
				}
				.dropdown-menu {
					position: absolute;
					padding: 15px;
					left: 50% !important;
					top: 1px !important;
					transform: translate(-50%,45px) !important;
					border: 0;
					border-radius: 0;
					@include breakpoint(sm) {
						padding: 35px;
					}
					li {
						display: block;
						max-width: none;
						margin: 0;
						text-align: center;
						&+li {
							margin-top: 10px;
						}
						&:nth-child(4){
							position: relative;
							padding-bottom: 20px;
							&:after {
								content: '';
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 2px;
								background-color: $black;
							}
						}
						&:last-child {
							position: relative;
							text-transform: uppercase;
							padding-top: 20px;
							&:after {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 2px;
								background-color: $black;
							}
						}
						a {
							padding: 5px 10px;
							color: $black;
							font-weight: 600;
							@include breakpoint(sm) {
								padding: 10px;
							}
							&:hover {
								background-color: transparent;
							}
							&:before,&:after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}