.error404 {
	color: #fff;
	background-image: url(images/404/404.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	#page, #content, #primary, #main {
		height: 100%;
	}
	.breadcrumbs {
		display: none;
	}
	.message-404 {
		position: relative;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		animation-delay: 400ms;
		h1 {
			margin: 0 0 15px;
		}
		h4 {
			margin-bottom: 15px;
		}
		p {
			padding: 0 20px;
			margin: 0 auto 30px;
		}
	}
	footer#colophon {
		@extend .white-footer;
	}
}