body.blog, 
body.search, 
body.single-post, 
body.archive {

	header#masthead {
		@extend .white-header;
	}

	.breadcrumbs-wrap {
		@extend .white-breads;
	}

	#main {
		padding-bottom: 150px;
	}

	header.page-header {
		position: relative;
		margin-top: 10px;
		margin-bottom: 50px;
		animation-delay: 300ms;
		h1 {
			margin: 0;
			font-size: 27px;
			line-height: 94.2%;
			@include breakpoint(sm) {
				font-size: 70px;
				line-height: 73px;
			}
		}
		form {
			margin-top: 30px;
			width: 100%;
			@include breakpoint(sm) {
				position: absolute;
				right: 0;
				margin-top: 0;
				max-width: 50%;
				transform: translateY(-115%);
			}
			@include breakpoint(md) {
				max-width: calc( 100% - 530px);
			}
			&.full-width {
				position: relative;
				max-width: 100%;
				transform: translateY(0);
			}
			.form-group {
				margin: 0;
			}
			input[type="image"] {
				position: absolute;
				top: 50%;
				right: 25px;
				transform: translateY(-50%) rotate(0deg);
				&:hover {
					transform: translateY(-50%) rotate(-90deg);
				}
			}
		}
	}

	#blog-hero {
		margin-bottom: 50px;
		color: $white;
		background-color: $black;
		animation-delay: 500ms;
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				.link {
					text-decoration: underline currentColor;
				}
			}
		}
		.hero-cover {
			position: relative;
			height: 200px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0) 57.83%);
			}
			@include breakpoint(sm) {
				height: 400px;
			}
			@include breakpoint(md) {
				height: 100%;
			}
		}
		.hero-body {
			padding: 15px 15px 30px;
			@include breakpoint(sm) {
				padding: 50px 50px 30px;
			}
		}
		h2 {
			margin-bottom: 30px;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0.04em;
			text-transform: none;
			@include breakpoint(sm) {
				font-size: 40px;
				letter-spacing: 0.115em;
				line-height: 114.7%;
			}
			@include breakpoint(md) {
				text-indent: -100%;
				text-align: right;
			}
		}
		.meta {
			font-size: 12.5px;
			font-family: Montserrat;
			line-height: 15px;
			letter-spacing: 0.03em;
		}
		.excerpt {
			margin-bottom: 25px;
			font-family: Montserrat;
			font-size: 15px;
			line-height: 160%;
			letter-spacing: 0.05em;
		}
		.link {
			color: $white;
			font-weight: 600;
			font-size: 19px;
			letter-spacing: 0.2em;
			line-height: 110%;
			text-transform: uppercase;
			text-decoration: underline transparent;
			transition: $transition;
		}
	}

	#loop-filters {
		list-style: none;
		padding: 0;
		margin: 0 0 30px;
		li {
			@include breakpoint(sm) {
				display: inline-block;
				margin-right: 25px;
			}
			&:last-child {
				@include breakpoint(sm) {
					margin-right: 0;
				}
			}
			&+li {
				margin-top: 10px;
				@include breakpoint(sm) {
					margin-top: 0;
				}
			}
			a {
				display: inline-block;
				text-transform: uppercase;
				@include breakpoint(sm) {
					padding: 5px 15px;
					display: block;
				}
				&.current {
					padding: 5px 15px;
					color: $white;
					background-color: $black;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
				h4 {
					font-size: 19px;
					margin: 0;
				}
			}
		}
	}

	#loop-content {
		position: relative;
		&:before {
			content: '';
			display: none;
			width: 16px;
			height: 16px;
			position: absolute;
			top: 50%;
			left: 50%;
			background-image: url(images/icons/icn-loading.gif);
			transform: translate(-50%,-50%);
		}
		.card {
			margin-bottom: 32px;
			margin-left: 15px;
			width: 100%;
			max-width: 100%;
			transition: $transition;
			opacity: 1;
			.img {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 45.91%);
				}
			}
			@include breakpoint(sm) {
				width: calc( 25% - 15px );
				max-width: calc( 25% - 15px );
			}
			@include breakpoint(md) {
				width: calc( 33.333% - 15px );
				max-width: calc( 33.333% - 15px );
			}
		}
		// .card-columns {
		// 	.card {
		// 		transition: $transition;
		// 		opacity: 1;
		// 	}
		// }
		&.loading {
			overflow: hidden;
			&:before {
				display: block;
			}
			.card {
				opacity: 0;
			}
		}
	}

	#navigation {
		margin-top: 70px;
		// margin-bottom: 150px;
		font-weight: 600;
		font-size: 19px;
		line-height: 110%;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		li {
			position: relative;
			display: inline-block;
			&+li {
				margin-left: 30px;
			}
			&.disabled {
				opacity: .5;
			}
			&.number {
				letter-spacing: initial;
				&:before {
					content: '';
					position: absolute;
					top: -100%;
					left: 50%;
					display: block;
					height: 0;
					width: 2px;
					background-color: $black;
					transition: $transition;
					transform: translateX(-50%);
				}
				&:hover {
					&:before {
						height: 13px;
					}
					a {
						text-decoration: none;
					}
				}
				&.active {
					&:before {
						height: 13px;
					}
				}
				a {
					text-decoration: none;
				}
			}
		}
	}

}

body.single-post {
	padding-top: 0;
	@include breakpoint(md) {
		padding-top: 100px;
	}

	#main {
		padding-bottom: 0;
	}

	.breadcrumbs-wrap {
		&>div {
			position: absolute;
			padding-left: 15px;
			top: 70px;
			left: 0;
			z-index: 1;
			@include breakpoint(md) {
				top: auto;
				left: auto;
				padding-left: 20px;
			}
		}
	}

	article {

		.container {
			padding: 0;
			max-width: 1140px;

		}

		section {
			&#hero {
				position: relative;
				height: 450px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				z-index: 0;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 45.91%);
				}
				.video-play {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
			&#content {
				position: relative;
				z-index: 1;
				@include breakpoint(md) {
					display: flex;
					margin-top: -100px;
				}

				.article-body {
					padding: 50px 15px 50px;
					width: 100%;
					background-color: $white;
					@include breakpoint(md) {
						padding: 50px 30px 150px 0;
						width: calc( 100% - 390px);
					}
					.article-meta {
						.date {
							margin-right: 15px;
						}
						.tag {
							@extend .caption;
							padding: 5px 10px;
							color: $white;
							text-transform: uppercase;
							background-color: $black;
						}
					}
					h3 {
						margin: 30px 0;
					}
					p {
						a {
							font-weight: 500;
						}
					}
					img {
						max-width: 100%;
						height: auto;
					}
					.owl-gallery {
						margin: 30px 0;
					}
				}

				.sidebar {
					padding: 80px 15px 0;
					width: 100%;
					color: $white;
					background-color: $black;
					@include breakpoint(md) {
						padding: 30px 30px 100px;
						margin-top: 100px;
						width: 390px;
					}
					h3 {
						margin-bottom: 40px;
					}
					.related-articles {
						@extend .row;
						article {
							@extend .col-md-4;
							@extend .col-lg-12;
							&+article {
								margin-top: 50px;
								@include breakpoint(sm) {
									margin-top: 0;
								}
								@include breakpoint(md) {
									margin-top: 50px;
								}
							}
							.thumb {
								width: 100%;
								height: auto;
								margin-bottom: 15px;
							}
							h4 {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}

	}

}