.page-contato {
	padding-top: 0;
	color: $white;

	.breadcrumbs-wrap {
		&>div {
			position: absolute;
			padding-left: 15px;
			top: 70px;
			left: 0;
			z-index: 1;
			@include breakpoint(md) {
				top: 100px;
				left: auto;
				padding-left: 0;
			}
		}
	}

	footer#colophon {
		@extend .white-footer;
	}

}

.content-contato {

	.contato {
		padding-top: 130px;
		background-image: url(images/contato/bg-contato.jpg);
		background-size: cover;
		background-position: center;
		@include breakpoint(sm) {
			padding-top: 180px;
			padding-bottom: 150px;
		}

		h2 {
			margin-bottom: 30px;
		}

		h3 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.button {
			&:last-child {
				margin-bottom: 100px;
			}
		}

		.col-md-6 {
			animation-delay: 300ms;
		}

	}
	
}

#contact-widget {
	position: relative;
	padding-top: 20px;
	color: $white;
	background-color: $black;
	overflow: hidden;
	@include breakpoint(sm) {
		padding-top: 170px;
		// max-height: 100vh;
	}
	&.single {
		// padding-bottom: 100px;
		@include breakpoint(sm) {
			padding-top: 100px;
			padding-bottom: 200px;
		}
		.qualitare {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	h3 {
		margin-top: 50px;
		margin-bottom: 30px;
	}
	form {
		// padding-bottom: 270px;
		@include breakpoint(sm) {
			padding-right: 45px;
		}
	}
	.form-img {
		width: 100%		;
		height: 250px;
		max-width: 100%;
		background-image: url(images/contato/bg-form.png);
		background-position: center top;
		background-size: 100%;
		background-repeat: no-repeat;
		@include breakpoint(sm) {
			background-position: center;
			height: 876px;
			width: 488px;
			animation-duration: 2000ms;
		}
	}
	.qualitare {
		position: absolute;
		left: 50%;
		bottom: 40px;
		transform: translateX(-50%);
		@include breakpoint(sm) {
			position: sticky;
			left: auto;
			margin: 0 auto;
			transform: translateX(0);
		}
	}
}

#template-newsletter {
	padding: 50px 0 30px;
	color: $white;
	background-color: $black;
	@include breakpoint(sm) {
		padding: 100px 0 30px;
	}
	h3 {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 100%;
		@include breakpoint(sm) {
			font-size: 42px;
		}
	}
	form {
		margin-bottom: 100px;
		text-align: left;
		@include breakpoint(sm) {
			text-align: center;
		}
		@include breakpoint(md) {
			text-align: left;
		}
	}
}