.page-descubra-joao-pessoa {
	position: relative;
	padding-top: 0;
	color: $white;
	background-color: $black;

	.breadcrumbs-wrap {
		&>div {
			position: absolute;
			padding-left: 15px;
			top: 70px;
			left: 0;
			z-index: 1;
			@include breakpoint(md) {
				top: 100px;
				left: auto;
				padding-left: 0;
			}
		}
	}

	footer#colophon {
		@extend .white-footer;
	}

}

.content-descubra {

	#hero {
		padding-top: 120px;
		padding-bottom: 50px;
		position: relative;
		min-height: calc(100vh - 52px);
		@include breakpoint(sm) {
			padding-top: 200px;
		}
		@include breakpoint(hd) {
			min-height: calc(100vh - 72px);
		}
		.hero-bg {
			// display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 300px;
			@include breakpoint(sm) {
				height: 100%;
			}
			.bg-item {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0;
				transition: $transition;
				// z-index: 1;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 100%);
				}
				&.active {
					opacity: 1;
				}
			}
		}

		h2 {
			margin-bottom: 170px;
			animation-delay: 200ms;
			@include breakpoint(sm) {
				margin-bottom: 30px;
			}
			@include breakpoint(hd) {
				margin-bottom: 50px;
			}
		}

		.accordion {
			animation-delay: 500ms;
			@include breakpoint(sm) {
				max-width: 75%;
			}
			@include breakpoint(hd) {
				max-width: 50%;
			}
			.card {
				margin-bottom: 0;
				padding-bottom: 15px;
				font-weight: 600;
				font-size: 15px;
				line-height: 19px;
				letter-spacing: 0.08em;
				border: none;
				background-color: transparent;
				border-bottom: 2px solid rgba($white,.5);
				@include breakpoint(sm) {
					font-size: 17px;
					line-height: 22px;
					letter-spacing: 0.08em;
				}
				&:last-child {
					border-bottom: none;
				}
				&:hover {
					transform: scale(1);
				}
				&.active {
					.card-header {
						opacity: 1;
					}
				}
				.card-header {
					padding: 0;
					border: none;
					opacity: .5;
					transition: $transition;
					background: none;
					&:hover {
						opacity: 1;
					}
				}
				.card-body {
					padding: 20px 0;
				}
				h3 {
					margin-top: 10px;
				}
				button {
					padding: 0;
					color: $white;
					font-size: 19px;
					line-height: 24px;
					letter-spacing: 0.03em;
					font-weight: 600;
					text-transform: uppercase;
					@include breakpoint(sm) {
						font-size: 26px;
						line-height: 33px;
						letter-spacing: 0.03em;
					}
				}
			}
		}
	}
}