body.home {
	padding-top: 0;
	background-color: $black;
	overflow: hidden;

	header#masthead {
		background-color: transparent;
		&:after {
			display: none;
		}
	}

	footer#colophon {
		position: fixed;
	}

	.owl-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		#homeSlider,
		.owl-stage-outer,
		.owl-stage,
		.owl-item,
		.thumb {
			height: 100%;
		}

		.thumb {
			cursor: pointer;
			&:after {
				background-image: linear-gradient(357.4deg, rgba(0, 0, 0, 0.9) 3.09%, rgba(0, 0, 0, 0) 94.93%);
			}
		}

		#homeSlider {
			position: absolute;
			z-index: 0;
			transition: all 300ms ease-out;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
		}

		.navigation {
			bottom: auto;
			top: 20px;
			right: 100px;
			left: auto;
			width: auto;
			text-align: right;
			transition: all 300ms ease-out;
			@include breakpoint(sm) {
				bottom: auto;
				left: auto;
				right: 100px;
				top: 43%;
				transform: translateY(50%);
			}
			@include breakpoint(xl) {
				top: 43%;
			}
		}

	}

	.welcome {
		position: relative;
		z-index: 1;
		padding: 100px 15px 0;
		@include breakpoint(md) {
			padding: 150px 30px 0;
			max-width: 65%;
		}
		@include breakpoint(lg) {
			max-width: 960px;
		}
		@include breakpoint(xl) {
			padding: 200px 30px 0;
		}
		h1 {
			margin: 0 0 15px 0;
			animation-delay: 200ms;
			@include breakpoint(sm) {
				font-weight: 600;
				line-height: 94.2%;
				letter-spacing: 0.02em;
				font-size: 90px;
			}
			@include breakpoint(xl) {
				margin-bottom: 30px;
			}
		}
		h3 {
			display: none;
			animation-delay: 400ms;
			@include breakpoint(sm) {
				display: block;
			}
			@include breakpoint(md) {
				font-size: 40px;
			}
		}
	}

	.backgrounds {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 300ms ease-in-out;
		transition-delay: 200ms;
		div {
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			opacity: 0;
			transition: all 300ms ease-in-out;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(57deg, rgba(0, 0, 0, 0.76) 12.96%, rgba(0, 0, 0, 0) 90.15%);
			}
			&.bg-lancamentos {
				background-position: 77% center;
				@include breakpoint(sm) {
					background-position: center;
				}
			}
			&.bg-construcao {
				background-position: 77% center;
				@include breakpoint(sm) {
					background-position: center;
				}
			}
			&.bg-prontos {
				background-position: center;
			}
		}
	}

	#hero {
		@extend .align-items-end;
		height: 100vh;
		padding-top: 100px;
		color: $white;
		// background-image: url(images/homepage/hero-cover-01.jpg);
		background-position: 65% center;
		background-size: cover;
		transition: all 300ms ease-in-out;
		@include breakpoint(sm) {
			padding-top: 150px;
			background-position: center;
		}

		.tabs {
			@extend .row;
			position: absolute;
			bottom: 0;
			width: 100%;
			// height: 30vh;
			background-color: rgba(0,0,0,.5);
			@include breakpoint(sm) {
				// height: 100%;
				bottom: 0;
				background-color: transparent;
			}
			.tab {
				@extend .col-md-4;
				position: relative;
				opacity: 1;
				padding-top: 25px;
				padding-bottom: 25px;
				transition: all 300ms ease-in-out;
				@include breakpoint(sm) {
					height: 100%;
					padding-top: 0;
					padding-bottom: 0;
				}
				&.lancamentos {
					animation-delay: 600ms;
				}
				&.construcao {
					animation-delay: 800ms;
				}
				&.prontos {
					animation-delay: 1000ms;
					padding-bottom: 75px;
					@include breakpoint(sm) {
						padding-bottom: 0;
					}
				}
				&.collapsed {
					&:after {
						@include breakpoint(sm) {
							opacity: 0;
						}
					}
					.tab-content {
						opacity: .5;
						p, .button {
							opacity: 0;
						}
					}
				}
				&:after {
					content: '';
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100vh;
					background-color: rgba($black,.5);
					transition: all 300ms ease-in-out;
					opacity: 1;
					@include breakpoint(sm) {
						display: block;
					}
				}
				// &:hover {
				// 	.button {
				// 		background-color: $black;
				// 	}
				// }
				a {
					text-decoration: none;
				}
				.tab-content {
					bottom: 100px;
					left: 15px;
					// padding-left: 30px;
					// padding-right: 60px;
					width: calc(100% - 30px);
					opacity: 1;
					z-index: 999;
					transition: all 300ms ease-in-out;
					@include breakpoint(sm) {
						position: absolute;
					}
					@include breakpoint(md) {
						left: 30px;
						padding-left: 30px;
						padding-right: 60px;
						width: calc(100% - 30px);
					}
					&:before {
						content: '';
						display: none;
						width: 2px;
						height: 100%;
						position: absolute;
						left: 0px;
						top: 3px;
						background-color: $white;
						@include breakpoint(md) {
							display: block;
						}
					}
					h3 {
						margin: 0;
					}
					p {
						display: inline-block;
						margin-top: 15px;
						opacity: 1;
						transition: all 300ms ease-in-out;
						@include breakpoint(sm) {
							margin-top: 30px;
						}
					}
					.button {
						margin: 0;
						opacity: 1;
						@include breakpoint(sm) {
							margin: 15px 0 0;
						}
						&:hover {
							color: $black;
							background-color: $white;
						}
					}
				}
			}
		}
	}
}