.page-lancamentos,
.page-em-construcao,
.page-prontos-para-morar {

	color: $white;
	background-color: $black;
	footer#colophon {
		@extend .white-footer;
	}
}

.page-imoveis.page-parent,
.page-avulsos,
.page-alugueis,
.single-imovel {

	header#masthead {
		@extend .white-header;
	}

	.breadcrumbs-wrap {
		@extend .white-breads;
	}

}

.content-imoveis-list {
	position: relative;

	h2 {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.open-filters {
		position: absolute;
		top: 9px;
		right: 15px;
		font-family: "Hurme Geometric Sans 1";
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.145em;
		text-transform: uppercase;
		@include breakpoint(sm) {
			display: none;
		}
	}

	a {
		color: $black;
	}

	#sidebar {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		margin-top: 0;
		padding-top: 50px;
		padding-bottom: 50px;
		transition: $transition;
		background-color: $white;
		z-index: 9999;

		@include breakpoint(sm) {
			padding-top: 0;
			padding-bottom: 80px;
			position: relative;
			left: auto;
			max-width: 300px;
			z-index: 1;
		}

		&.open {
			left: 0;
			overflow: scroll;
			@include breakpoint(sm) {
				overflow: visible;
			}
		}

		.close-filters {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 30px;
			height: 30px;
			background-image: url(images/icons/icn-close-alt.png);
			background-position: center;
			background-repeat: no-repeat;
			@include breakpoint(sm) {
				display: none;
			}
		}

		strong {
			margin-bottom: 15px;
			font-family: "Hurme Geometric Sans 1";
			font-size: 17px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin-bottom: 30px;
			&.multiple {
				li {
					a {
						&.current {
							&:after {
								content: '';
								display: inline-block;
								width: 16px;
								height: 16px;
								margin-left: 8px;
								vertical-align: bottom;
								background-image: url(images/icons/icn-close.png);
								background-position: 90% center;
								background-repeat: no-repeat;
							}
						}
					}
				}
			}
			li {
				font-size: 12.5px;
				line-height: 15px;
				letter-spacing: 0.03em;
				&+li {
					margin-top: 5px;
				}
				a {
					display: inline-block;
					padding: 3px 0;
					&.current {
						padding: 3px 10px;
						color: $white;
						background-color: $black;
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		.slider {
			font-size: 12.5px;
			line-height: 15px;
			letter-spacing: 0.03em;
			margin-bottom: 30px;
			.track {
				width: calc(100% - 12px);
				margin-top: 15px;
			}
		}
	}

	#content {
		padding-bottom: 50px;
		@include breakpoint(sm) {
			padding-bottom: 100px;
		}

		#loop-content {
			position: relative;
			margin-left: -15px;
			&:before {
				content: '';
				display: none;
				width: 16px;
				height: 16px;
				position: absolute;
				top: 50%;
				left: 50%;
				background-image: url(images/icons/icn-loading.gif);
				transform: translate(-50%,-50%);
			}
			.card {
				margin-bottom: 32px;
				margin-left: 15px;
				width: 100%;
				max-width: 100%;
				transition: $transition;
				opacity: 1;
				@include breakpoint(sm) {
					width: calc( 25% - 15px );
					max-width: calc( 25% - 15px );
				}
				@include breakpoint(md) {
					width: calc( 33.333% - 15px );
					max-width: calc( 33.333% - 15px );
				}
			}
			&.loading {
				// max-height: 200px;
				overflow: hidden;
				&:before {
					display: block;
				}
				.card {
					opacity: 0;
				}
			}
			.no-results {
				padding-top: 30px;
				margin-bottom: 30px;
				@include breakpoint(md) {
					padding-top: 50px;
					max-width: 80%;
					margin: 0 auto 50px;
					text-align: center;
				}
				h5 {
					text-transform: none;
				}
			}
		}

		.featured {
			margin-bottom: 30px;
			color: $white;
			background-color: $pink;
			a {
				color: $white;
			}
			.row {
				margin-left: 0;
				margin-right: 0;
			}
			.image {
				position: relative;
				min-height: 200px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0) 57.83%);
				}
			}
			.text {
				position: relative;
				padding: 30px;
				h3 {
					@include breakpoint(sm) {
						position: absolute;
						right: 30px;
						top: 30px;
						width: 175%;
						text-align: right;
					}
				}
				p {
					margin-bottom: 150px;
					font-family: "Hurme Geometric Sans 1";
					font-weight: 600;
					font-size: 17px;
					line-height: 22px;
					letter-spacing: 0.08em;
					@include breakpoint(sm) {
						margin-top: 130px;
					}
				}
				.logo-brascon {
					position: absolute;
					bottom: 30px;
					right: 30px;
					max-width: 115px;
				}
			}
		}

		.card {

			&.lancamento, 
			&.pronto-para-morar,
			&.em-construcao {
				border: 2px solid transparent;
				background-color: $black;
				.card-body {
				}
				h4 {
					color: $white;
				}
				.imovel-details {
					li {
						color: $white;
						&.area {
							&:before {
								background-image: url(images/icons/icn-area.png);
							}
						}
						&.local {
							&:before {
								background-image: url(images/icons/icn-pin.png);
							}
						}
						&.aluguel {
							&:before {
								background-image: url(images/icons/icn-calendario.png);
							}
						}
						&.venda {
							&:before {
								background-image: url(images/icons/icn-chave.png);
							}
						}
						&.condominio {
							&:before {
								background-image: url(images/icons/icn-barra.png);
							}
						}
						&.quarto {
							&:before {
								background-image: url(images/icons/icn-porta.png);
							}
						}
					}
				}

			}

			&.after {
				border: 2px solid transparent;
				a {
					padding: 25px;
					display: block;
					color: $white;
					font-family: "Hurme Geometric Sans 1";
					font-weight: 600;
					font-size: 17px;
					line-height: 22px;
					background-color: $black;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
				h3 {
					font-size: 26px;
					line-height: 33px;
					margin-bottom: 25px;
				}
			}

			.img {
				position: relative;
				height: 190px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 45.91%);
				}
				.logo-brascon {
					position: absolute;
					bottom: -10px;
					right: 25px;
					max-width: 70px;
					z-index: 1;
				}
			}

			.tag {
				right: 0;
				&.tour {
					padding: 5px 9px;
					top: 35px;
					color: $black;
					background-color: $white;
				}
			}

			.imovel-details {
				padding-left: 0;
				margin-top: 15px;
				list-style: none;
				font-size: 12.5px;
				line-height: 15px;
				li {
					position: relative;
					padding-left: 30px;
					&+li {
						margin-top: 15px;
					}
					&:before {
						content: '';
						display: inline-block;
						position: absolute;
						left: 0;
						width: 16px;
						height: 16px;
						vertical-align: middle;
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}
					&.area {
						&:before {
							background-image: url(images/icons/icn-area-alt.png);
						}
					}
					&.local {
						&:before {
							background-image: url(images/icons/icn-pin-alt.png);
						}
					}
					&.aluguel {
						&:before {
							background-image: url(images/icons/icn-calendario-alt.png);
						}
					}
					&.venda {
						&:before {
							background-image: url(images/icons/icn-chave-alt.png);
						}
					}
					&.condominio {
						&:before {
							background-image: url(images/icons/icn-barra-alt.png);
						}
					}
					&.sala {
						&:before {
							background-image: url(images/icons/icn-sala-alt.png);
						}
					}
					&.quarto {
						&:before {
							background-image: url(images/icons/icn-quarto-alt.png);
						}
					}
					&.banheiro {
						&:before {
							background-image: url(images/icons/icn-banheiro-alt.png);
						}
					}
					&.cozinha {
						&:before {
							background-image: url(images/icons/icn-cozinha-alt.png);
						}
					}
					&.servico {
						&:before {
							background-image: url(images/icons/icn-servico-alt.png);
						}
					}
					&.vaga {
						&:before {
							background-image: url(images/icons/icn-vaga-alt.png);
						}
					}
				}
			}

		}

	}

	#navigation {
		margin-top: 70px;
		padding-left: 0;
		// margin-bottom: 150px;
		font-weight: 600;
		font-size: 19px;
		line-height: 110%;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		li {
			position: relative;
			display: inline-block;
			&+li {
				margin-left: 30px;
			}
			&:not(.number) {
				display: none;
				@include breakpoint(sm) {
					display: inline-block;
				}
			}
			&.disabled {
				opacity: .5;
			}
			&.number {
				letter-spacing: initial;
				&:before {
					content: '';
					position: absolute;
					top: -100%;
					left: 50%;
					display: block;
					height: 0;
					width: 2px;
					background-color: $black;
					transition: $transition;
					transform: translateX(-50%);
				}
				&:hover {
					&:before {
						height: 13px;
					}
					a {
						text-decoration: none;
					}
				}
				&.active {
					&:before {
						height: 13px;
					}
				}
				a {
					text-decoration: none;
				}
			}
		}
	}

}

.content-imoveis {

	#hero {
		h2 {
			margin-top: 15px;
			margin-bottom: 30px;
			animation-delay: 200ms;
			@include breakpoint(sm) {
				margin-bottom: 60px;
			}
		}
		h3 {
			font-size: 19px;
			@include breakpoint(sm) {
				font-size: 29px;
			}
			@include breakpoint(lg) {
				font-size: 39px;
			}
		}
		h4 {
			margin-bottom: 35px;
			animation-delay: 200ms;
		}
		.icn-construcao {
			animation-delay: 200ms;
			&.top {
				display: block;
				width: 200px;
				margin: 50px auto 30px;
				@include breakpoint(sm) {
					display: none;
				}
			}
			&.side {
				position: absolute;
				bottom: 0;
				right: 15px;
				@include breakpoint(xs) {
					display: none;
				}
			}
		}
		.button {
			animation-delay: 200ms;
			@include breakpoint(xs) {
				max-width: 230px;
			}
		}
		.imovel {
			margin-bottom: 30px;
			animation-delay: 400ms;
			transition: transform 300ms ease-in-out;
			transform: scale(1);
			&:hover {
				cursor: pointer;
				// transform: scale(1.005);
			}
			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
			.imovel-header {
				position: relative;
				padding: 30px 25px;
				height: 200px;
				@include breakpoint(sm) {
					height: 370px;
				}
				.owl-container {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					z-index: 0;
					a {
						display: block;
						&:hover {
							cursor: zoom-in;
						}
					}
					.thumb {
						width: 100%;
						height: 200px;
						min-height: auto;
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						cursor: pointer;
						@include breakpoint(sm) {
							min-height: auto;
							height: 370px;
						}
					}
				}
				h3 {
					position: relative;
					z-index: 2;
				}
			}
			.details {
				position: relative;
				padding: 15px;
				background-color: $orange;
				font-size: 15px;
				line-height: 16px;
				letter-spacing: 0.03em;
				@include breakpoint(sm) {
					padding: 30px 25px;
				}
				.detail {
					&+.detail {
						margin-top: 10px;
					}
					&:before {
						content: '';
						position: relative;
						top: 3px;
						display: inline-block;
						width: 16px;
						height: 16px;
						margin-right: 8px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}
					&.local {
						&:before {
							background-image: url(images/icons/icn-pin.png);
						}
					}
					&.area {
						&:before {
							background-image: url(images/icons/icn-area.png);
						}
					}
					&.quartos {
						&:before {
							background-image: url(images/icons/icn-porta.png);
						}
					}
				}
				.logo {
					width: auto;
					max-width: 120px;
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translateY(-50%);
					@include breakpoint(sm) {
						right: 30px;
						max-width: 30%;
					}
				}
			}
		}
		div[class^='col'] {
			&:nth-child(4n+1) {
				.details {
					background-color: $green;
				}
			}
			&:nth-child(4n+2) {
				.details {
					background-color: $gray;
				}
			}
			&:nth-child(4n+3) {
				.details {
					background-color: $pink;
				}
			}
			&:nth-child(4n+4) {
				.details {
					background-color: $blue;
				}
			}
		}
	}

}

.single-imovel {
	padding-top: 0;

	header#masthead {
		@extend .white-header;
	}

	.breadcrumbs-wrap {
		@extend .white-breads;
		&>div {
			position: absolute;
			padding-left: 15px;
			top: 70px;
			left: 0;
			z-index: 1;
			@include breakpoint(md) {
				top: 100px;
				left: auto;
				padding-left: 35px;
			}
		}
	}

	footer#colophon {
		@extend .white-footer;
	}

}

.content-single-imovel {

	.container {
		max-width: 1235px;
	}

	#hero {
		position: relative;
		min-height: calc( 100vh - 52px );
		background-size: cover;
		background-position: center;
		@include breakpoint(hd) {
			min-height: calc(100vh - 72px);
		}

		.img-mobile {
			height: 450px;
			background-size: cover;
			background-position: center;
		}

		.hero-content {
			@include breakpoint(sm) {
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
			}
			.container {
				position: relative;
				padding: 120px 15px 50px;
				background-color: $white;
				@include breakpoint(sm) {
					padding: 120px 50px 50px;
					background-color: rgba($white,.9);
				}
				h3 {
					@include breakpoint(lg) {
						font-size: 40px;
					}
				}
				.video-play {
					position: absolute;
					left: 50%;
					top: -15px;
					color: $black;
					z-index: 10;
					transform: translateX(-50%);
				}
				.logo {
					display: block;
					margin: 30px auto 0;
					max-width: 210px;
					transition-duration: 1000ms;
					@include breakpoint(sm) {
						float: right;
						max-width: 100%;
						margin: 0 auto;
					}
				}
			}
		}


	}

	#content {

		.article-body {

			.sobre {
				@include breakpoint(sm) {
					padding-top: 15%;
					padding-left: 35px;
					padding-right: 20px;
				}
				p {
					margin-bottom: 50px;
					font-weight: 600;
					font-size: 19px;
					line-height: 24px;
					letter-spacing: 0.03em;
					@include breakpoint(sm) {
						font-size: 22px;
						line-height: 30px;
						letter-spacing: 0.03em;
					}
				}
				img {
					margin-bottom: 30px;
				}
			}

			.img-imovel {
				position: relative;
				.tag {
					position: absolute;
					left: 0;
					top: 100px;
					padding: 5px 15px;
					color: $black;
					font-family: "Hurme Geometric Sans 1";
					font-style: normal;
					font-weight: 600;
					font-size: 26px;
					line-height: 33px;
					letter-spacing: 0.03em;
					text-transform: uppercase;
					background-color: $white;
				}
				.d-sm-none {
					margin-bottom: 25px;
				}
				@include breakpoint(sm) {
					right: -15px;
				}
			}

			.button {
				&+.button {
					margin-top: 20px;
				}
			}

			.detalhes {
				padding-top: 100px;
				padding-bottom: 100px;

				ul {
					margin-top: 15px;
					margin-bottom: 50px;
					padding: 25px 0 0;
					list-style: none;
					font-weight: 600;
					font-size: 17px;
					font-family: "Hurme Geometric Sans 1";
					line-height: 22px;
					letter-spacing: 0.08em;
					border-top: 3px solid $black;
					li {
						position: relative;
						padding-left: 40px;
						&+li {
							margin-top: 15px;
						}
						span.icon {
							content: '';
							display: inline-block;
							position: absolute;
							left: 0;
							width: 25px;
							height: 25px;
							vertical-align: middle;
							background-position: center;
							background-repeat: no-repeat;
						}
						// &:before {
							// content: '';
							// display: inline-block;
							// position: absolute;
							// left: 0;
							// width: 25px;
							// height: 25px;
							// vertical-align: middle;
							// background-position: center;
							// background-repeat: no-repeat;
						// }
						&.area {
							&:before {
								content: '';
								display: inline-block;
								position: absolute;
								left: 0;
								width: 25px;
								height: 25px;
								vertical-align: middle;
								background-position: center;
								background-repeat: no-repeat;
								background-image: url(images/icons/icn-area-alt.png);
							}
						}
						// &.sala {
						// 	&:before {
						// 		background-image: url(images/icons/icn-sala-alt.png);
						// 	}
						// }
						&.quarto {
							&:before {
								content: '';
								display: inline-block;
								position: absolute;
								left: 0;
								width: 25px;
								height: 25px;
								vertical-align: middle;
								background-position: center;
								background-repeat: no-repeat;
								background-image: url(images/icons/icn-quarto-alt.png);
							}
						}
						// &.banheiro {
						// 	&:before {
						// 		background-image: url(images/icons/icn-banheiro-alt.png);
						// 	}
						// }
						// &.cozinha {
						// 	&:before {
						// 		background-image: url(images/icons/icn-cozinha-alt.png);
						// 	}
						// }
						// &.servico {
						// 	&:before {
						// 		background-image: url(images/icons/icn-servico-alt.png);
						// 	}
						// }
						// &.vaga {
						// 	&:before {
						// 		background-image: url(images/icons/icn-vaga-alt.png);
						// 	}
						// }
					}
				}

				.outras {
					ul {
						li {
							padding-left: 0;
							&.title {
								text-transform: uppercase;
							}
							&.valor_de {
								margin-top: 15px;
								font-size: 17px;
								line-height: 22px;
								span {
									text-decoration: line-through;
								}
							}
							&.valor {
								margin-top: 0;
								margin-bottom: 20px;
								font-size: 45px;
								line-height: 114.7%;
							}
						}
					}
				}

			}

		}

	}

	#galeria {

		.container {
			position: absolute;
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			@include breakpoint(sm) {
				top: 100px;
			}
			h2 {
				color: $white;
			}
		}

		.thumb {
			@include breakpoint(sm) {
				min-height: calc( 100vh - 52px );
			}
			@include breakpoint(hd) {
				min-height: calc(100vh - 72px);
			}
		}

		.navigation {
			bottom: 30px;
			@include breakpoint(md) {
				bottom: 100px;
			}
		}

	}

	#plantas {
		padding-top: 100px;
		padding-bottom: 100px;

		.owl-container {
			margin-top: 50px;

			.navigation {
				bottom: 0;
				margin-top: 150px;
				position: relative;
				@include breakpoint(sm) {
					margin-top: 180px;
				}
			}

			#plantasGallery {
				margin: 0 auto;
				max-width: 800px;

				.thumb {
					min-height: auto;
					max-width: 100%;
				}

			}

		}

	}

	#tour {
		position: relative;
		color: $white;
		padding-top: 400px;
		background-color: $black;
		background-size: auto 370px;
		background-position: center top;
		background-repeat: no-repeat;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 45.91%);
		}
		@include breakpoint(sm) {
			min-height: calc( 100vh - 52px );
			padding-top: 150px;
			background-size: cover;
			background-position: center;
		}
		@include breakpoint(hd) {
			min-height: calc(100vh - 72px);
		}

		.container {
			z-index: 1;
			@include breakpoint(sm) {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.col-md-7 {
			position: relative;
		}

		.content {
			padding: 0 0 80px;
			background-color: $black;
			@include breakpoint(sm) {
				padding: 50px 30px 50px;
			}
			@include breakpoint(lg) {
				padding: 80px 30px 30vh;
			}
			@include breakpoint(xl) {
				padding: 100px 30px 25vh;
			}

			h2 {
				position: absolute;
				top: -50px;
				@include breakpoint(sm) {
					top: -60px;
					width: 350px;
				}
			}

			h4 {
				margin-top: 30px;
				margin-bottom: 15px;
			}

			.button {
				margin-top: 30px;
				&:hover {
					color: $black;
					background-color: $white;
				}
			}

		}

		.video-play {
			position: absolute;
			left: 25%;
			top: -550px;
			transform: translate(50%, 50%);
			@include breakpoint(sm) {
				left: 30%;
				top: 30%;
			}
		}

	}

	#obras {
		position: relative;
		color: $white;
		background-size: auto 370px;
		background-position: center top;
		background-repeat: no-repeat;
		@include breakpoint(sm) {
			padding: 0;
			background-size: cover;
			background-position: center;
		}

		.owl-container, .owl-stage-outer, .owl-stage, .owl-item {
			position: relative;
			height: 100%;
		}

		#obrasGallery {
			@include breakpoint(sm) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.thumb {
				height: 100%;
				background-position: center;
				background-size: cover;
				@include breakpoint(sm) {
					min-height: calc( 100vh - 52px );
				}
				@include breakpoint(hd) {
					min-height: calc(100vh - 72px);
				}
			}
		}

		.navigation {
			bottom: 80px;
			@include breakpoint(sm) {
				bottom: 100px;
			}
		}

		.container {
			position: relative;
			padding-top: 40px;
			background-color: $black;
			z-index: 3;
			@include breakpoint(sm) {
				padding-top: 150px;
				background-color: transparent;
			}
		}

		.content {
			padding: 0 0 80px;
			background-color: $black;
			@include breakpoint(sm) {
				padding: 50px 30px 50px;
			}
			@include breakpoint(lg) {
				padding: 80px 30px 50px;
			}
			@include breakpoint(xl) {
				padding: 130px 30px 50px;
			}

			h2 {
				margin-bottom: 25px;
				@include breakpoint(sm) {
					position: absolute;
					right: 45px;
					top: -60px;
					text-align: right;
				}
			}

			p {
				font-family: "Hurme Geometric Sans 1";
				margin-bottom: 5px;
				font-weight: 600;
				font-size: 15px;
				line-height: 13px;
				letter-spacing: 0.08em;
				&.total {
					margin-top: 25px;
					font-size: 19px;
					text-transform: uppercase;
				}
			}

			.status {
				position: relative;
				margin-bottom: 15px;
				height: 2px;
				background: rgba($white,.15);
				&.total {
					height: 6px;
					span {
						height: 6px;
					}
				}
				span {
					display: block;
					height: 2px;
					position: absolute;
					top: 0;
					left: 0;
					min-width: 5px;
					background-color: $white;
				}
			}

			form {
				// margin-top: 50px;
				h5 {
					font-weight: 600;
					margin-top: 50px;
					margin-bottom: 20px;
				}
				.form-group .bootstrap-select .dropdown-menu.inner li a {
					&.hidden {
						display: none;
					}
					&:before {
						display: none;
					}
				}

			}

		}

	}

	#mapa {
		position: relative;

		#gmaps {
			position: relative;
			height: 370px;
			@include breakpoint(sm) {
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.gm-style .gm-style-iw-c {
				max-width: 250px !important;
				text-align: center;
				a {
					color: $black;
				}
			}
			// z-index: -1;
		}

		.content {
			padding: 40px 15px;
			background-color: $white;
			@include breakpoint(sm) {
				padding: 50px 35px;
				min-height: 600px;
			}

			.locais {
				padding: 0;
				margin-top: 25px;
				list-style: none;
				li {
					&+li {
						margin-top: 20px;
					}
					// &.last {
					// 	text-align: center;
					// }
					a {
						display: inline-block;
						height: 24px;
						color: $black;
						font-family: "Hurme Geometric Sans 1";
						font-weight: 600;
						font-size: 17px;
						line-height: 24px;
						letter-spacing: 0.08em;
						&:before {
							content: '';
							display: inline-block;
							width: 24px;
							height: 24px;
							margin-right: 15px;
							vertical-align: bottom;
							background-position: center;
							background-repeat: no-repeat;
						}
						&.current {
							text-decoration: underline;
						}
						&.supermarket {
							&:before {
								background-image: url(images/icons/icn-mercado.png);
							}
						}
						&.bakery {
							&:before {
								background-image: url(images/icons/icn-padaria.png);
							}
						}
						&.bar {
							&:before {
								background-image: url(images/icons/icn-bar.png);
							}
						}
						&.restaurant {
							&:before {
								background-image: url(images/icons/icn-restaurante.png);
							}
						}
						&.gym {
							&:before {
								background-image: url(images/icons/icn-academia.png);
							}
						}
						&.school {
							&:before {
								background-image: url(images/icons/icn-educacao.png);
							}
						}
						&.all {
							text-transform: uppercase;
							&:before {
								background-image: url(images/icons/icn-list-all.png);
							}
						// 	padding-left: 10px;
						// 	padding-right: 10px;
						// 	text-transform: uppercase;
						// 	text-align: center;
						// 	display: inline-block;
						// 	font-size: 14px;
						// 	line-height: 20px;
						// 	margin-top: 35px;
						// 	text-decoration: none;
						// 	border: 2px solid $black;
						// 	&:hover {
						// 		text-decoration: none;
						// 		color: $white;
						// 		background-color: $black;
						// 	}
						// 	&:before {
						// 		display: none;
						// 	}
					}
				}
			}
		}
	}

}

}

.content-single-imovel-avulso {

	#hero {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 100%);
		}
		.img-hero {
			height: 450px;
			background-position: center;
			background-size: cover;
		}
		.container {
			position: relative;
			padding: 0;
			z-index: 1;
		}
		.sobre {
			padding: 40px 15px 0px;
			background-color: $white;
			@include breakpoint(sm) {
				padding: 180px 50px 50px;
				min-height: calc(100vh - 52px);
				background-color: rgba($white,.9);
			}
			@include breakpoint(hd) {
				min-height: calc(100vh - 72px);
			}
			h3 {
				margin-bottom: 30px;
			}
			p {
				margin-bottom: 30px;
				font-family: "Hurme Geometric Sans 1";
				font-weight: 600;
				font-size: 19px;
				letter-spacing: 0.03em;
				line-height: 24px;
				@include breakpoint(sm) {
					font-size: 22px;
					line-height: 33px;
				}
			}
		}
		.video-play {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}

}

.content-single-portfolio {
	background-color: $black;

	#hero {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.img-hero {
			height: 430px;
			background-position: center;
			background-size: cover;
		}

		.content {
			position: relative;
			padding: 40px 0 0;
			background-color: $white;
			@include breakpoint(sm) {
				min-height: calc( 100vh - 52px );
				padding: 200px 50px 0;
				background-color: rgba($white,0.9);
			}
			@include breakpoint(hd) {
				min-height: calc(100vh - 72px);
			}

			h3 {
				padding-left: 15px;
				padding-right: 15px;
				@include breakpoint(sm) {
					padding-left: 0;
					padding-right: 0;
				}
			}

			.bairro {
				margin-top: 20px;
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 30px;
				&:before {
					content: '';
					display: inline-block;
					width: 18px;
					height: 27px;
					margin-right: 15px;
					background-image: url(images/icons/icn-pin-alt.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: auto 100%;
					vertical-align: bottom;
				}
				@include breakpoint(sm) {
					padding-left: 0;
					padding-right: 0;
				}
			}

			.entrega {
				margin-bottom: 40px;
				padding-left: 15px;
				padding-right: 15px;
				font-weight: 600;
				font-size: 17px;
				line-height: 22px;
				letter-spacing: 0.08em;
				@include breakpoint(sm) {
					position: absolute;
					padding-left: 0;
					padding-right: 0;
					bottom: 340px;
				}
				span {
					display: block;
					font-weight: 600;
					font-size: 24px;
					line-height: 114.7%;
					letter-spacing: 0.115em;
					@include breakpoint(sm) {
						font-size: 45px;
					}
				}
			}

			.vendido {
				width: 100%;
				padding: 40px 15px 80px;
				color: $white;
				background-color: $black;
				@include breakpoint(sm) {
					position: absolute;
					padding: 50px 50px 100px;
					left: 0;
					bottom: 0;
				}
			}

		}

	}

	#galeria {

		.container {
			position: absolute;
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			@include breakpoint(sm) {
				top: 100px;
			}
			h2 {
				color: $white;
			}
		}

		.owl-container {

			#imovelGallery {

				.thumb {
					@include breakpoint(sm) {
						min-height: calc( 100vh - 52px );
					}
					@include breakpoint(hd) {
						min-height: calc(100vh - 72px);
					}
				}

			}

			.navigation {
				bottom: 100px;
			}

		}

	}

}