.single-obra {
	color: $white;
	background-color: $black;

	.date-anos, .date-meses {
		margin-bottom: 15px;
		a {
			display: inline-block;
			font-size: 26px;
			font-weight: 600;
			line-height: 33px;
			padding: 10px 15px;
			margin-right: 15px;
			text-transform: uppercase;
			text-decoration: none;
			&.current, &:hover {
				color: $black;
				background-color: $white;
				text-decoration: none;
			}
			&.hidden {
				display: none;
			}
		}
	}

	.date-meses {
		margin-bottom: 50px;
	}

	.owl-container .owl-gallery .thumb {
		&:after {
			display: none;
		}
		@include breakpoint(lg) {
			min-height: 700px;
		}
	}

}