// .single-portfolio {
// 	padding-top: 0;

// 	header#masthead {
// 		@extend .white-header;
// 	}

// 	.breadcrumbs-wrap {
// 		@extend .white-breads;
// 		&>div {
// 			position: absolute;
// 			padding-left: 15px;
// 			top: 70px;
// 			left: 0;
// 			z-index: 1;
// 			@include breakpoint(md) {
// 				top: 100px;
// 				left: auto;
// 				padding-left: 35px;
// 			}
// 		}
// 	}

// 	footer#colophon {
// 		@extend .white-footer;
// 	}
// }

