.page-sobre {
	padding-top: 0;
	color: $white;
	background-color: $black;

	.breadcrumbs-wrap {
		&>div {
			position: absolute;
			padding-left: 15px;
			top: 70px;
			left: 0;
			z-index: 1;
			@include breakpoint(md) {
				top: 100px;
				left: auto;
				padding-left: 0;
			}
		}
		.back_to_home {
			a {
				color: $black;
			}
		}
	}

	footer#colophon {
		@extend .white-footer;
	}

}

.content-sobre {

	#hero {
		padding-top: 450px;
		padding-bottom: 100px;
		background-size: auto 450px;
		background-position: top center;
		background-repeat: no-repeat;
		z-index: -1;
		@include breakpoint(sm) {
			padding-top: 65vh;
			background-size: contain;
		}

		.hero-content {
			position: relative;
			padding-top: 120px;
			background-color: $black;
			animation-delay: 300ms;
			@include breakpoint(sm) {
				padding-left: 50px;
			}

			.video-play {
				position: absolute;
				top: -12px;
				left: 50%;
				color: $white;
				transform: translateX(-50%);
			}

			.brascon-icon {
				float: right;
				position: relative;
				top: 0;
				right: 0;
				width: 120px;
				height: auto;
				@include breakpoint(sm) {
					width: auto;
				}
				@include breakpoint(xl) {
					top: 50px;
				}
			}

			h3, h4 {
				padding-right: 30px;
			}

			h3 {
				margin-bottom: 20px;
			}

			h4 {
				margin-top: 50px;
				@include breakpoint(sm) {
					margin-bottom: 50px;
				}
			}

		}
	}

	#politica, #diferenciais, #portfolio {
		position: relative;
		padding-top: 400px;
		background-size: auto 370px;
		background-position: center top;
		background-repeat: no-repeat;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 100%);
		}
		@include breakpoint(sm) {
			padding-top: 150px;
			background-size: cover;
			background-position: center;
		}

		.content {
			position: relative;
			padding: 0 0 80px;
			background-color: $black;
			z-index: 1;
			@include breakpoint(sm) {
				padding: 50px 30px 50px;
			}
			@include breakpoint(xl) {
				padding: 100px 30px 100px;
			}

			h2 {
				position: absolute;
				top: -60px;
				@include breakpoint(sm) {
					width: 540px;
				}
			}

			h4 {
				margin-top: 30px;
				margin-bottom: 15px;
			}

		}

	}

	#diferenciais {

		.content {
			padding-bottom: 30px;
			@include breakpoint(xl) {
				padding-bottom: 80px;
			}
			h2 {
				left: 15px;
				@include breakpoint(sm) {
					left: auto;
					right: 30px;
					width: 600px;
					text-align: right;
				}
			}
			h4 {
				margin-bottom: 35px;	
			}
		}

	}

	#portfolio {
		padding-top: 0;

		.owl-container {

			#owlPortfolio {

				.item {
					height: 370px;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					@include breakpoint(sm) {
						height: calc( 100vh - 52px );
					}
					@include breakpoint(hd) {
						min-height: calc(100vh - 72px);
					}
				}

			}

			.navigation {
				bottom: 300px;
				@include breakpoint(sm) {
					bottom: 100px;
				}
			}

		}

		.container {
			position: relative;
			z-index: 1;
			@include breakpoint(sm) {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.content {
			padding-top: 40px;
			padding-bottom: 0;
			@include breakpoint(sm) {
				padding-top: 130px;
				padding-bottom: 100px;
			}
			h2 {
				position: relative;
				top: 0;
				margin-bottom: 30px;
				@include breakpoint(sm) {
					position: absolute;
					top: -60px;
					margin-bottom: 0;
				}
			}
			a {
				display: inline-block;
				font-size: 15px;
				line-height: 160%;
				letter-spacing: 0.05em;
				text-decoration: none;
				@include breakpoint(sm) {
					margin-top: 30%;
				}
				@include breakpoint(xl) {
					margin-top: 50%;
				}
				&:hover {
					text-decoration: none;
				}
				span {
					display: block;
					font-weight: 600;
					font-size: 19px;
					line-height: 110%;
					letter-spacing: 0.2em;
					text-transform: uppercase;
					@include breakpoint(sm) {
						display: inline-block;
					}
				}
			}
		}

		.full-url {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}

	}

}