h1, h2, h3, h4, h5, h6 {
	font-family: "Hurme Geometric Sans 1";
}

h1 {
	font-weight: 600;
	font-size: 37px;
	line-height: 114.7%;
	letter-spacing: 0.115em;
	text-transform: uppercase;
	@include breakpoint(lg) {
		font-size: 74px;
		line-height: 104.2%;
		letter-spacing: 0.02em;
	}
	@include breakpoint(xl) {
		font-size: 117px;
		line-height: 94.2%;
	}
}

h2 {
	font-weight: 600;
	font-size: 27px;
	line-height: 94.2%;
	letter-spacing: 0.135em;
	text-transform: uppercase;
	@include breakpoint(lg) {
		font-size: 50px;
		line-height: 100%;
	}
	@include breakpoint(xl) {
		font-size: 70px;
		line-height: 73px;
	}
}

h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0.04em;
	@include breakpoint(lg) {
		font-size: 36px;
		line-height: 100%;
		letter-spacing: 0.115em;
	}
	@include breakpoint(xl) {
		font-size: 45px;
		line-height: 114.7%;
	}

}

h4 {
	font-weight: 600;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.03;
	@include breakpoint(lg) {
		font-size: 26px;
		line-height: 33px;
	}
}

h5 {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	@include breakpoint(sm) {
		font-size: 19px;
		line-height: 110%;
	}
}

h6 {
	font-size: 15px;
	line-height: 19px;
	line-height: 22px;
	letter-spacing: 0.08em;
	@include breakpoint(sm) {
		font-weight: 600;
		font-size: 17px;
	}
}

p {
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.05em;
	@include breakpoint(sm) {
		font-size: 15px;
		line-height: 160%;
	}
}

.caption {
	font-size: 11.8px;
	font-family: Montserrat;
	line-height: 14px;
	letter-spacing: 0.03em;
	@include breakpoint(lg) {
		font-size: 12.5px;
		line-height: 15px;
	}
}