@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'Hurme Geometric Sans 1';
    src: url('fonts/HurmeGeometricSans1-Regular.eot');
    src: url('fonts/HurmeGeometricSans1-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/HurmeGeometricSans1-Regular.woff2') format('woff2'),
        url('fonts/HurmeGeometricSans1-Regular.woff') format('woff'),
        url('fonts/HurmeGeometricSans1-Regular.ttf') format('truetype'),
        url('fonts/HurmeGeometricSans1-Regular.svg#HurmeGeometricSans1-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hurme Geometric Sans 1';
    src: url('fonts/HurmeGeometricSans1-SemiBold.eot');
    src: url('fonts/HurmeGeometricSans1-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HurmeGeometricSans1-SemiBold.woff2') format('woff2'),
        url('fonts/HurmeGeometricSans1-SemiBold.woff') format('woff'),
        url('fonts/HurmeGeometricSans1-SemiBold.ttf') format('truetype'),
        url('fonts/HurmeGeometricSans1-SemiBold.svg#HurmeGeometricSans1-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hurme Geometric Sans 1';
    src: url('fonts/HurmeGeometricSans1-Bold.eot');
    src: url('fonts/HurmeGeometricSans1-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HurmeGeometricSans1-Bold.woff2') format('woff2'),
        url('fonts/HurmeGeometricSans1-Bold.woff') format('woff'),
        url('fonts/HurmeGeometricSans1-Bold.ttf') format('truetype'),
        url('fonts/HurmeGeometricSans1-Bold.svg#HurmeGeometricSans1-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body,
button,
input,
select,
optgroup,
textarea {
	font-family: 'Montserrat', sans-serif;
}

@import "headings";